html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    width: 1600px;
    margin: 0px auto;
    font-family: "Roboto","Open-sans","sans-serif";
    color: #ffffff;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

/* img {
    display: block;
    width: 100%;
    line-height: auto; 
 } */

/* .wrapper {
    width: 1600px;
    margin: 0px auto;
} */

.a {
    text-decoration: none;
}

/* navigation */

.menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.menu-navigation {
    position: relative;
    width: 1600px;
    height: 90px;
}

.logotype {
    position: absolute; 
    left: 245px;
    top:32px;
}

.site-navigation {
    position: absolute ;
    right: 215px;
    top:36px;
    margin: 0px;
    padding: 0px;
    /* list-style: none; */
    width: 500px;
    font-family: "Open-sans";
    font-size: 14px;
}

.site-navigation a {
    display: block;
    color: #0f0101;
    font-weight: 900;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation li:not(:last-child) {
    margin-right:34px;
}

.site-navigation li {
    float: left;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

/* slider */

.slider-content {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 1600px;
    height: 600px;
    background-color: rgb(0, 0, 0);
      
 }

.slider-priority p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 54px;
    color:#ffffff;
    font-weight: 300;
}

.slider-ctrl {
    position: absolute;
    top: 39%;
    transform: translate(245px 225px);
    border: none;
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    z-index: 3;
}

 .slider-ctrl-left {
    left:245px;
} 

.slider-ctrl-right {
    right:245px;
}

.shot {
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none; 
}

.shot-title {
    position: absolute;
    left: 27%;
    top: 30%;
    transform: translateY(30%); 
    margin:0px;
    padding: 0px;
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    color: #ffffff;
    z-index: 3;
}

.shot-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.522;
}

.shot-item {

}

.slider-priority {
    position: absolute;
    left: 27%;
    bottom: 40%; 
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 3;
}
 
/* section new-collection */

.collection{
    height: 100%;
    width: 1600px;  
    background-color: rgb(233,240,253)
}
.collection-title {
    margin:0px auto;
    padding: 100px 0px;
    font-family: "Roboto";
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    color: #515151;
    text-align: center;
}

.collection-title::after {
    display: block;
    margin: 28px auto;
    padding: 0px;
    width: 164px;
    height: 7px;
    background-color:#1abc9c;
    content: ""
}

.collection-item-box {
    margin: 0px;
    padding: 0px 245px;
}

.collection-item {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.item-content {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 255px;
    height: 322px;
    background-color: #ffffff;
}

.item-content:not(:nth-child(4n)) {
    margin-right: 30px;
    margin-bottom: 102px;
}

.item {
    position: relative;
}

.item h3 {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 5px 14px;
    font-size: 18px;
    line-height: 32px;
    font: 900;
    color: #ffffff;
    width: 201px;
    height: 40px;
    background-color: rgb(50, 50, 50);
    text-align: left;
    text-transform: uppercase;
}

.item p {
    position: absolute;
    bottom: 0px;
    left:201px;
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    line-height: 32px;
    font: 900;
    color: #ffffff;
    width: 54px;
    height: 40px;
    background-color: rgb(140,140,140);
    text-align: center;
    text-transform: uppercase;
}

.popup-menu {
    position: absolute;
    top:10px;
    left: 10px;
    width: 234px;
    height: 262px;
    border-width: 10px;
    border-style: solid 1;
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    opacity: 0;
}

.popup-icons li {
    position: absolute;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    text-align: center;
    background-repeat: no-repeat;
}

.collection-item li:hover .popup-menu {
    opacity: 0,6;
}

.collection-item li:hover .item-title {
    background-color: #1abc9c;
}

.collection-item li:hover .item-prise {
    background-color: #1abc9c;
}

.collection-item li:hover .popup-icons li:not(:last-child) {
    background-color: #1abc9c;
}

.popup-icons li:not(:last-child) {
    width:50px;
    height: 50px;
    top: 80px;
}

.popup-icons li:(:last-child) {
    width: 166px;
    height: 50px;
    background-color: rgb(50, 50, 50)
}

.popup-icons-button {
    margin: 0px;
    padding: 0px;
    border: none;
}

.popup-icons-heart{
    position: absolute;
    left: 36px;
    background-image: url(../img/icons/heart.png);
    background-position: center;
}

.popup-icons-arrow{
    position: absolute;
    left: 94px;
    background-image: url(../img/icons/arrow.png);
    background-position: center; 
}

.popup-icons-watch {
    position: absolute;
    left: 152px;
    background-image: url(../img/icons/watch.png);
    background-position: center;
}

.popup-icons-shopping-cart{
    position: absolute;
    width: 166px;
    height: 50px;
    bottom: 74px;
    left: 36px;
    background-image: url(../img/icons/shopping-cart.png);
    background-position: left;
    background-position-x: 10px;
    background-color: rgb(50, 50, 50);
}

.shopping {
    position: absolute;
    left: 50px;
    top: 15px;
    margin: 0px;
    padding: 0px;
}

 /*footer  */

.page-footer {
    font-family: "Open sans";
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    width: 1600px;
    height: 90px;
    background-color:rgb(50,50,50);
    text-decoration: none;
    text-transform: none;
}

.attachment {
    margin: 0px;
    padding: 35px 0px;
    text-align: center;
}

.attachment a {
    text-decoration: none;
    text-transform: none;
    color: #1abc9c;
}







 











/* pattern */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    display: block;
    content:"";
    clear: both;
}
